---
import { t } from 'i18n:astro'
import CardProject from '@components/CardProject.astro'

const { title, projects } = t('projects', {
  returnObjects: true
})
---

<section id={title.toLowerCase()} class="projects">
  <h2>
    <span>{title}</span>
  </h2>
  {
    projects.map((project: any) => (
      <CardProject
        src={project.image}
        alt={project.title}
        title={project.title}
        description={project.description}
        techs={project.techs}
        {...(project.code && { code: project.code })}
        {...(project.linkedin && { linkedin: project.linkedin })}
        {...(project.linkedin_url && { linkedin_url: project.linkedin_url })}
      />
    ))
  }
</section>

<style>
  .projects {
    padding-bottom: 120px;

    & h2 {
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 48px;

      @media (width >= 768px) {
        justify-content: start;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--border-color);
        }
      }

      & span {
        order: 1;
      }
    }
  }
</style>
